@model IEnumerable<BogCafeteria.Entity_Data.Menu>

@{
    ViewBag.Title = "Products/Menus";
}

<h2>Products/Menus</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            Company
        </th>
        <th>
            Price
        </th>
        <th>
            Food type
        </th>
        <th>
            Name
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company1.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product1.Name)
        </td>
        <td>
            @Html.ActionLink("Add to cart", "Add", new { id = item.Id }) |
            @Html.ActionLink("View Comments", "Index", "Comments", new { id = item.Company1.Id }, null) |
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
