@model BogCafeteria.Entity_Data.Comment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Comment
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment1)
        </dd>

        <dt>
            Company Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company1.Name)
        </dd>

        <dt>
            Comment Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentType.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
